.padreform{
    /* display: flex; */
}


.sdi  {
    position: absolute;
    bottom: 0; 
    left: 0%;
    width: 100%;
 
}

.sdc  {
    position: absolute;
    bottom: 3rem; 
    left: 0%;
    width: 100%;
 
}